{{ template "header.html" .}}

  <!--Loop over the `payload` variable, which is the list of articles-->
  <h2> Elegir Localidad </h2>
  <div id="localidad-container">
        <article>
            <div>
                <h5>Localidades disponibles</h5>
            </div>
            <div>
                <select>
                    <option></option>    
                <select>
            </div>
        </article>
  </div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}